In [1]:
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
import pandas as pd
import numpy as np

In [2]:
torch.manual_seed(1)

In [3]:
class LSTM_model(nn.Module):
    def __init__(self):
        super().__init__()
        self.batch_size=32
        self.sequence_len=3
        self.feature_dim=5
        self.hidden_size=10
        self.class_num=4
        self.lstm_layer1=nn.LSTM(input_size=self.feature_dim,hidden_size=self.hidden_size,batch_first=True)
        self.lstm_layer2=nn.LSTM(input_size=self.hidden_size,hidden_size=self.hidden_size,batch_first=True)
        self.fc1=nn.Linear(self.hidden_size,self.class_num)
        self.h_s=None
        self.c_s=None
        
    def forward(self,x):
        # input x:[seq_len,batch_size,feature_dim]
        x,hiddens=self.lstm_layer1(x)
        x,hiddens=self.lstm_layer2(x)
        out=self.fc1(x)
        #output: out:[batch,seq_len,class_num]
        return out

In [4]:
lstm=LSTM_model()
x=torch.randn(32,3,5)
y_pre=lstm(x)

In [5]:
print(y_pre.shape)

torch.Size([32, 3, 4])

In [6]:
df=pd.read_csv('sales_train.csv')

In [7]:
df.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0